<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="org.xworker.plugin.Perspective"
            id="org.xworker.plugin.perspective">
      </perspective>
   </extension>
   <extension
         id="org.xworker.views"
         name="%extension.name"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.xworker.plugin.NavigationView"
            icon="icons/packageViewer.gif"
            id="org.xworker.plugin.navigationView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.xworker.plugin.editors.ThingEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="dml,xer,xer.xml,xer.txt,xer.js"
            icon="icons/thing.gif"
            id="org.xworker.plugin.editors.ThingEditor"
            name="%editor.name">
      </editor>
      <editor
            class="org.xworker.plugin.editors.ThingPackageViewer"
            default="false"
            icon="icons/packageViewer.gif"
            id="org.xworker.plugin.editors.thingPackageViewer"
            name="%editor.name.0">
      </editor>
      <editor
            class="org.xworker.plugin.editors.ThingComposite"
            default="false"
            icon="icons/composite.gif"
            id="org.xworker.plugin.thingComposite"
            name="%editor.name.1">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.xworker.plugin.actionSet"
            label="%actionSet.label"
            visible="true">
         <action
               class="org.xworker.plugin.actions.HelpAction"
               icon="icons/user.png"
               id="org.xworker.plugin.Help"
               label="%action.label.4"
               state="true"
               style="push"
               toolbarPath="/thing">
         </action>
         <action
               class="org.xworker.plugin.actions.OpenThingAction"
               icon="icons/openThing.gif"
               id="org.xworker.plugin.openThing"
               label="%action.label.0"
               style="push"
               toolbarPath="/thing">
         </action>
         <action
               class="org.xworker.plugin.actions.FunctionsAction"
               icon="icons/application_key.png"
               id="org.xworker.plugin.Functions"
               label="%action.label.3"
               style="push"
               toolbarPath="/thing">
         </action>
      </actionSet>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.xworker.plugin"
            name="%category.name.0">
      </category>
      <wizard
            category="org.xworker.plugin"
            class="org.xworker.plugin.wizards.NewThingWizard"
            icon="icons/sample.gif"
            id="org.xworker.plugin.wizards.NewThingWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xworker.plugin.preferences.WorldPreferencePage"
            id="org.xworker.plugin.preferences.WorldPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.xworker.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.xworker.plugin.editors.ThingAttributeDocumentProvider"
            id="org.xworker.plugin.ThingAttributeDocumentProvider"
            inputTypes="org.xworker.plugin.editors.ThingAttributeInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.xworker.plugin"
            name="XWorker">
      </category>
      <wizard
            category="org.xworker.plugin"
            class="org.xworker.plugin.wizards.NewThingWizard"
            icon="icons/sample.gif"
            id="org.xworker.plugin.wizards.NewThingWizard"
            name="Thing">
      </wizard>
   </extension>

</plugin>
